<div class="topo"><!-- Essa div contém o título da página, o mapa da api do Google Maps e o Cabeçalho da tabela de Recursos-->
  <h1>{{title}}</h1> <!-- Título da Página-->
  <div #gmap style="width:100%;height:350px"></div> <!-- Mapa da API do Google Maps-->
    <table style="width:100%" class="legenda"> <!-- Tabela contendo a legenda dos marcadores no mapa-->
      <tr>
        <td><img src="app/marcadores/marcador-disponivel.png" style="width:25px;height:25px;">     Disponivel</td>
        <td><img src="app/marcadores/marcador-ocupado.png" style="width:25px;height:25px;">     Ocupado</td>
        <td><img src="app/marcadores/marcador-bhtrans.png" style="width:25px;height:25px;">     BHTRANS</td>
        <td><img src="app/marcadores/marcador-defesa-civil.png" style="width:25px;height:25px;">     Defesa Civil</td>
        <td><img src="app/marcadores/marcador-guarda-municipal.png" style="width:25px;height:25px;">     Guarda Municipal</td>
        <td><img src="app/marcadores/marcador-slu.png" style="width:25px;height:25px;">     SLU</td>
        <td><img src="app/marcadores/marcador-samu.png" style="width:25px;height:25px;">     SAMU</td>
        <td><img src="app/marcadores/marcador-sufis.png" style="width:25px;height:25px;">     SUFIS</td> 
      </tr>
  </table>
  <table style="width:99%"> <!-- Tabela do cabeçalho da tabela de recursos-->
    <tr class="headTable">
      <th style="width:25%">Órgão</th>
      <th style="width:25%">Tipo</th> 
      <th style="width:25%">Status</th>
      <th style="width:25%">Ação</th>
    </tr>
  </table>
</div>
<div class="baixo"> <!-- Div com os itens da tabela de recursos-->
  <table style="width:100%"> <!-- Tabela de recursos-->
    <tr *ngFor="let item of recursos" (click)="mudarPosicao(item)" class="recursos">
      <td style="width:25%">{{item.orgao.descricao}}</td>
      <td style="width:25%">{{item.tipoRecurso.descricao}}</td> 
      <td style="width:25%">{{item.status.descricao}}</td>
      <td style="width:25%"><input type = 'button' *ngIf="item.status.id == 1" value="Atribuir Ocorrência" (click)="acaoAtribuirOcorrencia(item)"></td>
    </tr>
  </table>
</div>
