h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.topo {
    width:100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    opacity: 1;
    background: rgba(255,255,255,1); 
}

div.baixo {
    width:100%;
    position: relative;
    top:515px;
    z-index: 0;
}

th, td {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    opacity: 1;
}
th {
    background-color: #666666;
    color: white;
}
tr.recursos:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}